* {
  font-family: "arial";
}

th {
  background-color: #8c2020;
  color: #fff;
  font-size: large;
  padding: 5px;
}

ast {
  color: red;
}

.table-style,
td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-style {
  align-items: center;
}

.fixed {
  width: 100px;
  table-layout: fixed;
}

.link {
  color: orange;
}

td {
  padding: 0px;
  margin: 0px;
}

sp {
  padding-left: 50px;
}

sm {
  padding-left: 20px;
}

.pad-3 {
  padding-left: 80px;
}

.box {
  width: 10px;
  table-layout: fixed;
}

blue {
  color: blue;
}

subHead {
  font-size: medium;
  font-style: italic;
}

.pan-form {
  margin: 20px;
  background-color: #ffffe0;
}

.b-text {
  font-weight: bold;
}

.i-text {
  font-style: italic;
  font-weight: normal;
}

.u-text {
  text-decoration: underline;
}

.msg-blue {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.table-below {
  border: none;
  padding-top: 8px;
}

.middles {
  margin-top: 25px;
  position: relative;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
